<div class="center hero-unit">
  <h1>Book Club</h1>
  
  <h2>Welcome, here you can share your books with your friends</h2>
  
  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
