<footer class="footer">
  <small>
    <a href="blog.florres.de">Book Club</a>
    by Florian Kraemer
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blog.florres.de/">News</a></li>
    </ul>
  </nav>
</footer>
